#home-menu {
  display: flex;
}

#home-menu .home-menu-bar {
  border: 1px solid #dedede;
  margin: 20px 5px;
  flex-grow: 1;
  width: 20%;
}

#home-menu ul {
  display: block;
  margin: 5px;
  padding: 5px;
  list-style: none;
}

#home-menu > ul {
  /*border: 1px solid #dedede;*/
}

#home-menu a.active {
  color: #f97d7d;
}

#home-menu a:visited, #home-menu a:link {
  color: #1574ad;
}

#home-menu a:hover {
  color: #be3131;
}
