#loading-bar.shown {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  display: block;
}

#loading-bar.hided {
  display: none;
}

#loading-bar .spinner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}